* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/pattern4.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: peru;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16 px;
    line-height: 20px;
}

.layout {
    width: 1150px;
    margin: 38px auto;
    background: #fff;
    padding: 40px;
    display: block;
    background-image:url(../images/pattern3.png);
    background-repeat: repeat;
    overflow: hidden;
}

.header{
    display: block;
/*    left:  20px;*/
    padding: 0;
    overflow: hidden;
}

.slider{
    
    margin-top: 20px;
    margin-bottom: 30px;
/*    background-image: url(../images/slider-01-copy.png);*/
/*    height: 450px;*/
    width: 1150px;
    background-repeat: no-repeat;
/*    overflow: hidden;*/
}
.slider-text{
/*
    background-color: black;
    opacity: .5;
*/
    display: block;
    position: absolute;
    margin-left: 400px;
    margin-top: 140px
}
.slider-text h2{
    font-size: 48px;
    padding-bottom: 6px;
    color:currentColor;
    font-weight: bold;
}
.slider-text h1{
    line-height: 90px;
    font-size: 62px;
    font-weight: bold;
    color: #D11F3F;
}
.slider-text p{
    font-size: 30px;
    color: #98CB3B;
}
.content{
    margin-top: 10px;
    overflow: hidden;
}
.sidebar{
    overflow: hidden;
    float: left;
    width: 300px;
/*    border-right: 2px solid #263238;*/
}
.sidebar h1{
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    width: 250px;
}
.sidebar ul li{
    list-style: none;
    padding: 5px;
    border-bottom: 1.5px solid grey;
    background-color: #263238;
}
.sidebar ul li a{
    margin: 30px;
    text-decoration: none;
    font-size: 22px;
    color: #DECB5B;
    line-height: 30px;
    font-family: monospace;
    
}
/*
.sidebar ul li:hover{
    background-color: lightgrey;
    color: #263238;
    transition: .3s;
}
*/
.sidebar ul li a:hover{
    padding: 2.5px;
    background-color: lightgrey;
    transition: .2s;
    color: #263238;
    font-weight: bold;
    font-size: 28px;
}

.article{
    float: right;
    width: 805px;
    padding-left: 35px;
    border-left: 3px solid #263238;
}
.article h1{
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    
}
.article p{
    font-family: monospace;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
}
footer{
/*    display: inline-block;*/
    margin-top: 25px;
    overflow: hidden;
    padding: 10px;
    color: #DECB5B;
    background-color: #263238;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}


footer p{
    display: inline-block;
    color: lightgrey;
/*    font-size: 22px;*/
    text-align: justify;
}
.{}
.{}
.{}